.du_toast_region {
  position: fixed;
  z-index: var(--z-toast);
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  max-inline-size: 360px;
  padding: var(--space-4);
}

.du_toast_region_bottom_end {
  inset-block-end: 0;
  inset-inline-end: 0;
}

.du_toast_region_bottom_start {
  inset-block-end: 0;
  inset-inline-start: 0;
}

.du_toast_region_bottom_center {
  inset-block-end: 0;
  inset-inline: 0;
  margin-inline: auto;
}

.du_toast_region_top_end {
  inset-block-start: 0;
  inset-inline-end: 0;
}

.du_toast_region_top_start {
  inset-block-start: 0;
  inset-inline-start: 0;
}

.du_toast_region_top_center {
  inset-block-start: 0;
  inset-inline: 0;
  margin-inline: auto;
}

.du_toast {
  background-color: var(--bg);
}
