@use "../../styles/mixins" as m;

.du_skeleton {
  border: var(--border-width) solid var(--fg);

  @include m.du_texture_fill;

  animation: du_skeleton_pulse 2s infinite linear;
}

@keyframes du_skeleton_pulse {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 2px 0;
  }
}
