.du_heading {
  margin: 0;
  color: inherit;
  font-family: var(--font-sans);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-heading);
}

.du_heading_1 {
  font-size: var(--font-size-7);
}

.du_heading_2 {
  font-size: var(--font-size-6);
}

.du_heading_3 {
  font-size: var(--font-size-5);
}

.du_heading_4 {
  font-size: var(--font-size-4);
}

.du_heading_5 {
  font-size: var(--font-size-3);
}

.du_heading_6 {
  font-size: var(--font-size-2);
}
