.du_heading {
  margin: 0;
  color: inherit;
  font-family: var(--font-sans);
  font-weight: 700;
  line-height: 1.2;
}

.du_heading_1 {
  font-size: 40px;
}

.du_heading_2 {
  font-size: 32px;
}

.du_heading_3 {
  font-size: 24px;
}

.du_heading_4 {
  font-size: 20px;
}

.du_heading_5 {
  font-size: 18px;
}

.du_heading_6 {
  font-size: 16px;
}
