@use "../../styles/mixins" as m;

.du_link {
  color: var(--fg);
  text-decoration: underline;
  text-decoration-thickness: var(--border-width);
  text-underline-offset: 2px;
  cursor: pointer;

  @include m.du_focus;

  &:hover {
    @include m.du_invert;
  }
}
